{% extends 'reviews/base.html' %}
{% load static %}

{% block content %}
<title> Publications</title>

    <!-- Start: Page Banner -->
    <section class="inner-page-banner">
        <div class="container">
            <div class="banner-header">
                <h2>Publications</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">publications</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
    <!-- End: Page Banner -->

    <!-- Start: Book & Media Section -->
    <div id="content" class="site-content">
        <div id="primary" class="content-area">
            <main id="main" class="site-main">
                <div class="books-media-list">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-search-filter">
                                    <input type="text" placeholder="Search by Keyword" />
                                    <select name="category" id="event-category" class="form-control">
                                        <option>Select Any Category</option>
                                        <option>Category</option>
                                        <option>Category</option>
                                        <option>Category</option>
                                        <option>Category</option>
                                        <option>Category</option>
                                    </select>
                                    <select name="category" id="event-catelog" class="form-control">
                                        <option>Select Any Catelog</option>
                                        <option>Catelog</option>
                                        <option>Catelog</option>
                                        <option>Catelog</option>
                                        <option>Catelog</option>
                                        <option>Catelog</option>
                                    </select>
                                    <button type="submit" class="btn btn-secondary"><i
                                            class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-3">
                                <aside id="secondary" class="sidebar widget-area" data-accordion-group>
                                    <span data-toggle="collapse" data-target="#collapsefilter" aria-controls="collapsefilter" class="show-hide-filters"><img
                                            src="images/icons/hide-filter-icon.png" alt="">
                                        Hide Filters</span>
                                    <div id="collapsefilter" class="collapse books-media-filters">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h5>Filtered By</h5>
                                            </div>
                                            <div class="col-lg-6"><a href="#" class="clear-filters">Clear all Filters <i
                                                        class="fa fa-times"></i></a></div>
                                        </div>
                                        <div class="filters-list">
                                            <ul>
                                                <li>eBooks
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </li>
                                                <li>Action
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </li>
                                                <li>$150-$180
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </li>
                                                <li>English
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </li>
                                                <li>Scott Fitzgerald
                                                    <a href="#"><i class="fa fa-times"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget widget_related_search" data-accordion-group="">
                                        <div data-content>
                                            <div class="single-data-accordion open" data-accordion>
                                                <h5 class="widget-sub-title" data-control>Countries</h5>
                                                <div class="widget_checkbox_list" data-content>
                                                    <form>
                                                        
                                                      
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="single-data-accordion" data-accordion>
                                                <h5 class="widget-sub-title" data-control>Categories</h5>
                                                <div class="widget_checkbox_list" data-content>
                                                    <form>
                                                        
                                                        
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="single-data-accordion" data-accordion>
                                                
                                            </div>
                                            <div class="single-data-accordion" data-accordion>
                                                <h5 class="widget-sub-title" data-control>Policy Areas</h5>
                                                <div class="widget_checkbox_list" data-content>
                                                    <form>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck001">
                                                            <label class="form-check-label" for="exampleCheck001">Love
                                                                stories <span>(18)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck002">
                                                            <label class="form-check-label" for="exampleCheck002">Texas
                                                                <span>(04)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck003">
                                                            <label class="form-check-label" for="exampleCheck003">Rich
                                                                people <span>(03)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck004">
                                                            <label class="form-check-label" for="exampleCheck004">Humorous
                                                                stories <span>(02)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck005">
                                                            <label class="form-check-label" for="exampleCheck005">Widows
                                                                <span>(02)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck006">
                                                            <label class="form-check-label" for="exampleCheck006">Women
                                                                <span>(11)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck007">
                                                            <label class="form-check-label" for="exampleCheck007">Babysitters
                                                                <span>(25)</span></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck008">
                                                            <label class="form-check-label" for="exampleCheck008">Law
                                                                firms <span>(09)</span></label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="single-data-accordion" data-accordion>
                                                <h5 class="widget-sub-title" data-control>Social Group</h5>
                                                <div class="widget_checkbox_list" data-content>
                                                    <form>
                                                        
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="single-data-accordion" data-accordion>
                                                <h5 class="widget-sub-title" data-control>Publishing Date</h5>
                                                <div class="widget_checkbox_list" data-content>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                </aside>
                            </div>
                            <div class="col-md-12 col-lg-9">
                                <div class="books-media-header">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group mb-0">
                                                        <div class="select">
                                                            <select name="popularity" class="form-control select-hidden">
                                                                <option>Sort by Popularity</option>
                                                                <option>Popularity 01</option>
                                                                <option>Popularity 02</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group mb-0">
                                                        <div class="select">
                                                            <select name="Publishing" class="form-control select-hidden">
                                                                <option>Publishing Date</option>
                                                                <option>Publishing Date 01</option>
                                                                <option>Publishing Date 02</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="books-media-listing-v3">
                                {% for item in book_list %}
                                    <div class="row">
                                        <div class="col-md-6 col-lg-12">
                                            <div class="single-book-media">
                                                <div class="book-thumb">
                                                    <span class="wishlist"><i class="fa fa-heart"></i></span>
                                                    <img src="{{ MEDIA_URL }}{{ item.book_cover }}" alt="Image not found" style="width:270px;height:370px;">
                                                </div>
                                                <div class="book-detail">
                                                    <div class="rating-box">
                                                        
                                                        <a class="category-tags bg-light-blue">research</a>
                                                        
                                                    </div>
                                                    <h3 class="book-media-title"><a href="#">{{ item.book.title }}</a></h3>
                                                    <div class="item-info">
                                                        <ul>
                                                            <li>
                                                                Author<strong>{{ item.author }}</strong>
                                                            </li>
                                                            <li>
                                                                ISBN<strong>{{ item.book.isbn }}</strong>
                                                            </li>
                                                            <li>
                                                                Publishing Date<strong>{{ item.book.publication_date }}</strong>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p>{{ item.book.book_description}}</p>
                                                    <div class="card-links">
                                                        <a href="#" class="btn btn-secondary">Read More</a>
                                                        <a href="{{ item.sample.ur }}" class="btn btn-light"> Download
                                                            </a>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                {% endfor %} 
                                </div>       
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item first-page-link">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true"><i class="fa fa-long-arrow-left"></i>
                                                    Previous</span>
                                                <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item last-page-link">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">Next <i
                                                        class="fa fa-long-arrow-right"></i></span>
                                                <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- End: Books & Media Section -->

    <!-- Start: StaffPick -->
    
        </div>
    </section>
    <!-- Start: StaffPick -->

    <!-- Start: Testimonial Section -->
    <section class="testimonial-main-v3">
        <div class="container">
            <div class="testimonial-social-main" style="background-image: none;">
                <div class="row">
                    <div class="col-md-10 mx-auto text-center">
                        <h6 class="sub-heading-v2">Newsletter</h6>
                        <h2 class="heading-v2">Subscribe Our Newsletter</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="form-group newsletter-inner">
                            <input class="form-control" placeholder="Enter your Email!" id="newsletter" name="newsletter" type="email">
                            <input class="btn btn-primary" value="Subscribe" type="submit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-icons-v3">
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                        <span><i class="fa fa-facebook-f"></i> <small>Facebook</small></span>
                    </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                        <span><i class="fa fa-twitter"></i> <small>Twitter</small></span>
                    </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                        <span><i class="fa fa-rss"></i> <small>Rss Feed</small></span>
                    </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                        <span><i class="fa fa-linkedin"></i> <small>Linkedin</small></span>
                    </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                        <span><i class="fa fa-youtube"></i> <small>Youtube</small></span>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End: Testimonial Section -->

    <!-- Start: Footer -->
    {% endblock %}