<section class="best-application-web">
    <div class="container">
        <h3 class="section-title">Use The Best Applications On The Web! <em></em></h3>
        <span class="lead-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</span>
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4">
                <div class="best-application-web-detail">
                    <i class="sprites-host wordpress-hosting"></i>
                    <h4>WordPress Hosting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="best-application-web-detail">
                    <i class="sprites-host days-grantee"></i>
                    <h4>Joomla Hosting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="best-application-web-detail">
                    <i class="sprites-host uptime"></i>
                    <h4>Magento Hosting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros. </p>
                </div>
            </div>
        </div>
    </div>
</section>