<section class="guarantee">
    <div class="container">
        <h3 class="section-title">HostCaptain Guarantee <em></em></h3>
        <span class="lead-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</span>
        <div class="row no-gutters equal-cols">
            <div class="col-md-4">
                <div class="guarantee-detail">
                    <i class="sprites tech-support"></i>
                    <h4>24/7 Technical Support</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="guarantee-detail">
                    <i class="sprites day-guarantee"></i>
                    <h4>30 Day Guarantee</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="guarantee-detail">
                    <i class="sprites uptime"></i>
                    <h4>99.9% Uptime</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dolor turpis, pulvinar varius dui id, convallis iaculis eros. </p>
                </div>
            </div>
        </div>
    </div>
</section>